.easternBlue {
  background-color: #17A7A3;
}

.malachite {
  background-color: #0FD578;
}

.wattle {
  background-color: #D8D343;
}

.rawSienna {
  background-color: #D89043;
}

.redDamask {
  background-color: #D87243;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  height: 100%;
}

.centerpiece {
  flex: 1 1 auto;
  text-align: center;
  padding: 0 20px;
}

.herald {
  display: inline-block;
  width: 100%;
  max-width: 354px;
}

.logo {
  width: 100%;
}

.subtitle {
  margin-top: 4.5%;
  transition: opacity 0.5s 0.7s ease-out, transform 0.5s 0.7s ease-out;
  transform: translate3d(-5px, 0, 0);
  opacity: 0;
}

.subtitle.in {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.subtitle > img {
  width: 71%;
}

.palette {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  flex: 0 1 25%;
  height: 100%;
  transform-style: preserve-3d;
  backface-visibility: none;
  perspective: 1000px;
}

.palette > span {
  width: 100%;
  flex: 1 0 25%;
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  opacity: 0;
}

.palette:nth-child(1) > span {
  transform-origin: 0 0;
  transform: rotateY(45deg);
}

.palette:nth-child(3) > span {
  transform-origin: 100% 0;
  transform: rotateY(-45deg);
}

.palette.in > span {
  transform: rotateY(0);
  opacity: 1;
}

.palette > span:nth-child(1) {
  transition-delay: 1.2s;
}

.palette > span:nth-child(2) {
  transition-delay: 1.4s;
}

.palette > span:nth-child(3) {
  transition-delay: 1.6s;
}

.palette > span:nth-child(4) {
  transition-delay: 1.8s;
}
