html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #17A7A3;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 100%;
}

.herald {
  width: 100%;
  max-width: 354px;
  text-align: center;
}

.logo {
  width: 100%;
}

.subtitle {
  margin-top: 4.5%;
  transition: opacity 0.5s 0.7s ease-out, transform 0.5s 0.7s ease-out;
  transform: translate3d(-5px, 0, 0);
  opacity: 0;
}

.subtitle.in {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.subtitle > img {
  width: 71%;
}
